body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formaAlumnos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formaProfesor {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin: 5px;
}

label {
  font-size: 20px;
}

.alumnos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profesores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista {
  border: 1px solid black;
  background-color: rgb(179, 223, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  justify-content: space-evenly;
  width: 650px;
}

a {
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.deletebtn,
.updatebtn {
  width: 75px;
}
